
<h1>{{studentAcc.username}}</h1>

<div>
    {{studentAcc.password}}
</div>

<div>
    
    {{studentAcc.academicNumber}}
</div>



{{!-- <table class="table">
    <tr>
        <td>Name</td>
        <td>Code</td>
        <td>Depatment</td>
    </tr>
    <tr>
        <th><h1>{{subjects.name}}</h1></th>
        <th>
            <div>
             {{subjects.code}}
            </div>
        </th>
        <th>
            <div>
    
                {{subjects.department.name}}
            </div>
        </th>
    </tr>
</table> --}}